<!DOCTYPE html>
<html ng-app="bills">
<head>
	<title>Add Bill</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<script src="assets/js/angular.min.js"></script>
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/app.js"></script>
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body ng-controller="BillAddController as addCtrl">
	<div id="nav">
		<a href="groceries.html">Groceries</a>
		<a href="bills.html">Bills</a>
		<a href="bills-monthly.html">Monthly</a>
		<a href="bill-add.html" class="selected">Add</a>
	</div>
	<h1>Bills</h1>
	<div class="mobile-wrap">
		<div class="mobile-box">
			<form>
				<div class="form-group">
					<input type="date" ng-model="addCtrl.newBill.date" placeholder="YYYY-MM-DD"/>
				</div>
				<div class="form-group">
					<select ng-model="addCtrl.newBill.type">
						<option value="" disabled selected>Select Type</option>
						<option value="Paycheck">Paycheck</option>
						<option value="Tips">Tips</option>
						<option disabled="disabled">------------</option>
						<option value="Rent">Rent</option>
						<option value="Power">Power</option>
						<option value="Gas">Gas</option>
						<option value="Tenant">Tenant</option>
						<option value="RRSP">RRSP</option>
						<option value="Cell">Cell</option>
						<option value="Internet">Internet</option>
						<option value="Transit">Transit</option>
						<option value="Other">Other</option>
					</select>
				</div>
				<div class="form-group">
					<input ng-model="addCtrl.newBill.type" placeholder="Custom Type" />
				</div>
				<div class="form-group">
					<select ng-model="addCtrl.newBill.name">
						<option value="" disabled selected>Select Name</option>
						<option value="Keg Whis">Keg Whis</option>
						<option value="Tips">Tips</option>
						<option disabled="disabled">------------</option>
						<option value="Hillcrest">Hillcrest</option>
						<option value="BCHydro">BCHydro</option>
						<option value="Fortis">Fortis</option>
						<option value="TD">TD</option>
						<option value="BMO">BMO</option>
						<option value="Rogers">Rogers</option>
						<option value="Telus">Telus</option>
						<option value="Bus Whis">Bus Whis</option>
						<option value="Other">Other</option>
					</select>
				</div>
				<div class="form-group">
					<input ng-model="addCtrl.newBill.name" placeholder="Custom Name" />
				</div>
				<div class="form-group">	
					<input type="number" ng-model="addCtrl.newBill.amount" placeholder="$ Amount"/>
				</div>
				<div class="form-group">
					<input type="checkbox" id="income" ng-model="addCtrl.newBill.isIncome" ng-true-value="1" ng-false-value="0"/>
					<label for="income">Income</label>
				</div>
				<div class="form-group">
					<button ng-click="addCtrl.newBill = null;">Clear</button>
					<button ng-click="addCtrl.addBill(newBill);">Add Bill</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>