<div ng-controller="BillsController as ctrl">
<div ng-controller="BillAddController as addCtrl">
	<h1>Bills</h1>
	<div class="mobile-wrap">
		<div class="mobile-box">
			<form>
				<div class="form-group">
					<input type="date" ng-model="addCtrl.newBill.date" placeholder="YYYY-MM-DD"/>
				</div>
				<div class="form-group">
					<select ng-model="addCtrl.newBill.type">
						<option value="" disabled selected>Select Type</option>
						<option value="Paycheck">Paycheck</option>
						<option value="Tips">Tips</option>
						<option disabled="disabled">------------</option>
						<option value="Rent">Rent</option>
						<option value="Power">Power</option>
						<option value="Tenant">Tenant</option>
						<option value="RRSP">RRSP</option>
						<option value="Cell">Cell</option>
						<option value="Internet">Internet</option>
						<option value="Transport">Transport</option>
						<option value="Other">Other</option>
					</select>
				</div>
				<div class="form-group custom-input">
					<input ng-model="addCtrl.newBill.type" placeholder="Custom Type" />
				</div>
				<div class="form-group">
					<select ng-model="addCtrl.newBill.name">
						<option value="" disabled selected>Select Name</option>
						<option value="Keg">Keg</option>
						<option disabled="disabled">------------</option>
						<option value="Ermineskin">Ermineskin</option>
						<option value="TD">TD</option>
						<option value="BMO">BMO</option>
						<option value="Public">Public</option>
						<option value="Telus">Telus</option>
						<option value="Gas">Gas</option>
						<option value="Car Loan">Car Loan</option>
						<option value="Car Ins">Car Ins</option>
						<option value="Other">Other</option>
					</select>
				</div>
				<div class="form-group custom-input">
					<input ng-model="addCtrl.newBill.name" placeholder="Custom Name"/>
				</div>
				<div class="form-group">	
					<input type="number" step="any" ng-model="addCtrl.newBill.amount" placeholder="$ Amount"/>
				</div>
				<div class="form-group">
					<input type="checkbox" id="income" ng-model="addCtrl.newBill.isIncome"/>
					<label for="income">Income</label>
				</div>
				<div class="form-group">
					<button ng-click="addCtrl.newBill = null;">Clear</button>
					<button ng-click="addCtrl.addBill(newBill); ctrl.loadBills();">Add Bill</button>
				</div>
			</form>
		</div>
		<div class="mobile-box">
			<table>
				<tr>
					<th ng-class="{reverse:ctrl.sortReverse, 'sort-field':ctrl.isSortField('date')}" ng-click="ctrl.changeSortField('date')">Date</th>
					<th ng-class="{reverse:ctrl.sortReverse, 'sort-field':ctrl.isSortField(ctrl.typeSortValue)}" ng-click="ctrl.changeSortField(ctrl.typeSortValue)">Type</th>
					<th ng-class="{reverse:ctrl.sortReverse, 'sort-field':ctrl.isSortField('amount')}" ng-click="ctrl.changeSortField('amount')">Amount</th>
				</tr>
				<tr>
					<td>{{addCtrl.newBill.date | date:"EEE yy-MMM-dd"}}</td>
					<td class="left"><span ng-class="{income: addCtrl.newBill.isIncome == 1}">{{addCtrl.newBill.type && addCtrl.newBill.name ? addCtrl.newBill.type + ' - ' : addCtrl.newBill.type}}{{addCtrl.newBill.name}}</span></td>
					<td><span ng-class="{income: addCtrl.newBill.isIncome == 1}">{{addCtrl.newBill.amount | currency}}</span></td>
				</tr>
				<tr ng-repeat="bill in ctrl.bills | orderBy:ctrl.sortField:ctrl.sortReverse" ng-class-even="'alt'">
					<td>{{bill.date | date:"EEE yy-MMM-dd"}}</td>
					<td class="left"><span ng-class="{income: bill.isIncome == 1}">{{bill.type && bill.name ? bill.type + ' - ' : bill.type}}{{bill.name}}</span></td>
					<td><span ng-class="{income: bill.isIncome == 1}">{{bill.amount | currency}}</span></td>
				</tr>
			</table>
		</div>
	</div>
</div>
</div>