<div ng-controller="GasController as ctrl">
	<h1>Gas</h1>
	<div class="mobile-wrap">
		<div class="mobile-box">
			<form>
				<div class="form-group">
					<input type="date" ng-model="ctrl.newBill.date" placeholder="YYYY-MM-DD"/>
				</div>
				<div class="form-group">
					<input type="number" step="any" ng-model="ctrl.newBill.amount" placeholder="$ Amount"/>
				</div>
				<div class="form-group">
					<input type="number" step="any" ng-model="ctrl.newBill.mileage" placeholder="Odometer reading"/>
				</div>
				<div class="form-group">
					<button ng-click="ctrl.newBill = null;">Clear</button>
					<button ng-click="ctrl.addBill(newBill);">Add Bill</button>
				</div>
			</form>
		</div>
		<div class="mobile-box">
			<table>
				<tr>
					<th ng-class="{reverse:ctrl.sortReverse[0], 'sort-field':ctrl.isSortField(0, 'date')}" ng-click="ctrl.changeSortField(0, 'date')">Date</th>
					<th ng-class="{reverse:ctrl.sortReverse[0], 'sort-field':ctrl.isSortField(0, 'amount')}" ng-click="ctrl.changeSortField(0, 'amount')">Amount</th>
				</tr>
				<tr>
					<td>{{ctrl.newBill.date | date:"EEE MMM dd"}}</td>
					<td>{{ctrl.newBill.amount | currency}}</td>
				</tr>
				<tr ng-repeat="bill in ctrl.bills | orderBy:ctrl.sortField[0]:ctrl.sortReverse[0]" ng-class-even="'alt'">
					<td>{{bill.date | date:"EEE MMM dd"}}</td>
					<td>{{bill.amount | currency}}</td>
				</tr>
			</table>
		</div>
		<div class="mobile-box">
			<table>
				<tr>
					<th ng-class="{reverse:ctrl.sortReverse[1], 'sort-field':ctrl.isSortField(1, 'weekStart')}" ng-click="ctrl.changeSortField(1, 'weekStart')">Week</th>
					<th ng-class="{reverse:ctrl.sortReverse[1], 'sort-field':ctrl.isSortField(1, 'count')}" ng-click="ctrl.changeSortField(1, 'count')">Bills</th>
					<th ng-class="{reverse:ctrl.sortReverse[1], 'sort-field':ctrl.isSortField(1, 'amount')}" ng-click="ctrl.changeSortField(1, 'amount')">Total</th>
				</tr>
				<tr ng-repeat="week in ctrl.weeks | orderBy:ctrl.sortField[1]:ctrl.sortReverse[1]" ng-class-even="'alt'">
					<td>{{week.weekStart | date:'yy-MMM-dd'}}</td>
					<td>{{week.count}}</td>
					<td>{{week.amount | currency}}</td>
				</tr>
				<tr class="summary">
					<td>{{ctrl.weeksSummary.totalWeeks}} weeks</td>
					<td>{{ctrl.weeksSummary.totalBills}}</td>
					<td>{{ctrl.weeksSummary.totalAmount | currency}}</td>
				</tr>
				<tr class="summary">
					<td>average</td>
					<td>{{ctrl.weeksSummary.averageBills | number:2}}</td>
					<td>{{ctrl.weeksSummary.averageAmount | currency}}</td>
				</tr>
			</table>
		</div>
		<div class="mobile-box">
			<table>
				<tr>
					<th ng-class="{reverse:ctrl.sortReverse[2], 'sort-field':ctrl.isSortField(2, 'month')}" ng-click="ctrl.changeSortField(2, 'month')">Month</th>
					<th ng-class="{reverse:ctrl.sortReverse[2], 'sort-field':ctrl.isSortField(2, 'count')}" ng-click="ctrl.changeSortField(2, 'count')">Bills</th>
					<th ng-class="{reverse:ctrl.sortReverse[2], 'sort-field':ctrl.isSortField(2, 'amount')}" ng-click="ctrl.changeSortField(2, 'amount')">Total</th>
				</tr>
				<tr ng-repeat="month in ctrl.months | orderBy:ctrl.sortField[2]:ctrl.sortReverse[2]" ng-class-even="'alt'">
					<td>{{month.month | date:'MMM yyyy'}}</td>
					<td>{{month.count}}</td>
					<td>{{month.amount | currency}}</td>
				</tr>
				<tr class="summary">
					<td>{{ctrl.monthsSummary.totalMonths}} months</td>
					<td>{{ctrl.monthsSummary.totalBills}}</td>
					<td>{{ctrl.monthsSummary.totalAmount | currency}}</td>
				</tr>
				<tr class="summary">
					<td>average</td>
					<td>{{ctrl.monthsSummary.averageBills | number:2}}</td>
					<td>{{ctrl.monthsSummary.averageAmount | currency}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>